*{
  margin: 0;
}
header{
  width: 100%;
  height: 8vh;
  background-color: white;
  position: relative;
  z-index: 2;
}
ul > li{
	display: inline-block;
}
ul > li > a{
  padding: 15px 30px;
  display: block;
}
ul > li:hover > a{
	background-color: white;
  color: #444;
  text-decoration: none;
}
ul li ul li{
	display: block;
}
ul li ul{
	position: absolute;
	top: 95%;
	left: 31%;
}
ul li ul li a{
	background-color: white;
  color: black;
  text-decoration: none;
}
ul li ul li a:hover{
  background-color: white;
  color: steelblue;
}
.Menu ul li ul{
	position: absolute;
	top: -1000px;
}
.Menu ul li:hover ul{
	transform: translateY(1055px);
}
/* .Menu ul li ul{
  display: none;
}
.Menu ul li:hover ul{
	display: block;
} */
Main{
  scroll-behavior: smooth;
  z-index: 1;
}
.TitleMiniImg{
  height: auto;
  width: 10vw;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%) translateX(-50%);
  font-family: din-2014, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.MenuBar{
  position: absolute;
  right: 5vw;
  top: 0.5vh;
}
.MenuBar ul li  {
  padding-left: 1vw;
}
.ProfileText a{
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3vw;
  letter-spacing: 0.5px;
  color: black;
  text-decoration: none;
}
.WorkText a{
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3vw;
  letter-spacing: 0.5px;
  color: black;
  text-decoration: none;
}
.ContactText a{
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 1.3vw;
  letter-spacing: 0.5px;
  color: black;
  text-decoration: none;
}
.MainImg{
  position: relative;
}
.TitleBackImg{
  width: 100%;
  height: auto;
}
.TitleImg{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 30%;
  height: auto;
}
.BottomSpaceImg{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.Works{
  /* position: relative; */
  background-image: url(4x/Grid@4x.png);
  background-size: contain;
  text-align: center;
}
.WorksTitleImg{
  width: 15%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 2%;
}
.WorkButton{
  padding-bottom: 4.5%;
}
.WorkButton a{
  padding-left: 1%;
  padding-right: 1%;
}
.GameButton {
  width: 15%;
  height: auto;
  outline: 8px solid white;
  outline-offset: -10px;
}
/* .GameButton ::before{
  outline: 8px solid white;
  outline-offset: -10px;
}
.GameButton ::after{
  outline: 10px solid gold;
  outline-offset: -10px;
} */
/* img .GameButton{
  position: relative;
  display: inline-block;
  padding: 0%;
  border: 5px solid white;
  outline: none;
  transition: all .2s;
}
img .GameButton ::before,img .GameButton ::after {
  position: absolute;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
}
img .GameButton ::before {
  top: -2px;
  left: -2px;
}
img .GameButton ::after {
  bottom: -2px;
  right: -2px;
}
img .GameButton :hover {
  color: #3be5ae;
}
img .GameButton :hover::before,
img .GameButton :hover::after {
  width: 100%;
  height: 100%;
}
img .GameButton :hover::before {
  border-bottom-color: #3be5ae;
  border-left-color: #3be5ae;
  transition: height .3s, width .3s .3s;
}
img .GameButton :hover::after {
  border-top-color: #3be5ae;
  border-right-color: #3be5ae;
  transition: height .3s, width .3s .3s;
} */
.WebButton{
  width: 15%;
  height: auto;
  outline: 8px solid white;
  outline-offset: -10px;
}
.IllustButton{
  width: 15%;
  height: auto;
  outline: 8px solid white;
  outline-offset: -10px;
}
.PhotoButton{
  width: 15%;
  height: auto;
  outline: 8px solid white;
  outline-offset: -10px;
}